DATABASE_URL="postgresql://postgres:admin@localhost:5432/anunciosloc"
JWT_SECRET="K7mP9qX2vL5rT8wY1nZ3cF6gH4jU0eA_DsRtYpLxWqNzVbGcMfJhIkOlEiOuAsDfGhJkLmNoPqRsTuVwXyZ1aBcDeFgHiJkLmNoPqRsTuVwXyZ2"
PORT=4000